<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource :: sumber">
</head>
<body>

    <nav th:insert="sidenav :: navuser"></nav>

	<div align="center">
      <h1>Edit Pengajuan</h1>
        <br />

        <form th:action="@{/savepengajuan}" th:object="${pengajuan}" method="POST" id="edit">
                <table border="0" cellpadding="10">
                    <input type="text" th:value="*{pengajuanId}" name="pengajuanid" readonly="readonly">
                    
                    <tr>
                        <td>Pilih nama</td>
                        <td>
                        <input type="hidden" th:value="${karyawan_id}" name="karyawan_id"/>
                        <input type="text" th:value="${idkaryawan}" readonly="readonly"  />
                        <!--<input type="text" th:field="${pengajuan.karyawanId}" th:value="${pengajuan.karyawanId='${karyawan_id}'}"/>-->
                        </td>

                        <!--<td>Pilih Karyawan</td>
                        <td>
                        <select class="form-control" th:field="${pengajuan.karyawanId}">
                            <option th:each="karyawan : ${listkaryawan}" th:value="${karyawan.karyawanId}" th:text="${karyawan.karyawanNama}"></option>
                        </select>
                        </td>-->

                    </tr>

                    <tr>
                        <td>Pilih Tujuan Perjalanan Dinas</td>
                        <td>
                        <select class="form-control" th:value="${pengajuan.tujuandinasId}" name="tujuandinas" >
                            <option th:each="tujuan : ${listtujuandinas}" th:value="${tujuan.tujuandinasId}" th:text="${tujuan.tujuandinasNama}"></option>
                        </select>
                        </td>
                        <!--<td>Tujuan Perjalanan Dinas</td>
                        <td><input type="text" th:field="*{tujuandinasId}" /></td>-->
                    </tr>

                    <tr>
                        <!--<td>Pilih Jenis Kendaraan</td>
                        <td>
                        <select class="form-control" th:subject="${pengajuan.kendaraanId}">
                            <option th:each="kendaraan : ${listkendaraan}" th:value="${kendaraan.kendaraanId}" th:text="${kendaraan.kendaraanNama}"></option>
                        </select>
                        </td>-->

                        <!--<td>Jenis Kendaraan</td>
                        <td><input type="text" th:field="*{kendaraanId}" /></td>-->

                        <td>Pilih Jenis Kendaraan</td>
                        <td>
                        <select class="form-control" th:value="${pengajuan.kendaraanId}" name="jeniskendaraan">
                            <option th:each="kendaraan : ${listkendaraan}" th:value="${kendaraan.kendaraanId}" th:text="${kendaraan.kendaraanNama}"></option>
                        </select>
                        </td>
                    </tr>

                                      
                    
                    <tr>
                        <td>Kota Asal</td>
                        <td><input type="text" th:value="*{pengajuanKotaAsal}" name="pengajuankotaasal" /></td>
                    </tr>
                    <tr>
                        <td>Kota Tujuan</td>
                        <td><input type="text" th:value="*{pengajuanKotaTujuan}" name="pengajuankotatujuan" /></td>
                    </tr>
                    <tr>
                        <!--<td>Pilih Waktu Berangkat</td>
                        <td>
                            <select class="form-control" th:field="*{pengajuanWaktuBerangkat}">
                                <option th:each="pengajuan1 : ${pengajuanWaktuBerangkat}" th:value="${pengajuan1}" th:text="${pengajuan1}"></option>
                                <option th:value="00.00 - 06.00">00.00 - 06.00</option>
                                <option th:value="06.00 - 12.00">06.00 - 12.00</option>
                                <option th:value="12.00 - 18.00">12.00 - 18.00</option>
                                <option th:value="18.00 - 00.00">18.00 - 00.00</option>
                            </select>
                        </td>-->
                        <td>Waktu Berangkat</td>
                        <td>
                        <select th:value="*{pengajuanWaktuBerangkat}" name="pengajuanwaktuberangkat">
                            <option th:each="waktuberangkat : ${listWaktuBerangkat}" th:value="${waktuberangkat}" th:text="${waktuberangkat}" />
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <!--<td>Pilih Waktu Pulang</td>
                        <td>
                            <select class="form-control" th:field="*{pengajuanWaktuPulang}">
                                <option th:value="00.00 - 06.00">00.00 - 06.00</option>
                                <option th:value="06.00 - 12.00">06.00 - 12.00</option>
                                <option th:value="12.00 - 18.00">12.00 - 18.00</option>
                                <option th:value="18.00 - 00.00">18.00 - 00.00</option>
                            </select>
                        </td>-->
                        <td>Waktu Pulang</td>
                        <td>
                        <select th:value="*{pengajuanWaktuPulang}" name="pengajuanwaktupulang">
                            <option th:each="waktuberangkat : ${listWaktuBerangkat}" th:value="${waktuberangkat}" th:text="${waktuberangkat}" />
                        </select>
                        </td>
                    </tr>

                    <!--<tr>
                        <td>Tanggal Berangkat</td>
                        <td>
                            <div class="input-group date">
                                <input type="text" th:field="*{pengajuanTanggalBerangkat}">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                </div>
                                
                            </div>
                        </td>
                        <td>Tanggal Berangkat</td>
                        <td><input type="text" th:field="*{pengajuanTanggalBerangkat}" /></td>
                    </tr>
                     <tr>
                        <td>Tanggal Pulang</td>
                        <td>
                            <div class="input-group date">
                                <input type="text" th:field="*{pengajuanTanggalPulang}">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                </div>
                            </div>
                        </td>
                        <<td>Tanggal Pulang</td>
                        <td><input type="text" th:field="*{pengajuanTanggalPulang}" /></td>
                    </tr>-->

                    <tr>
                        <td>Tanggal Berangkat</td>
                        <td>
                            <div class="form-group">
                                <label for="tanggalberangkat">Tanggal Berangkat</label>
                                <input th:value="*{pengajuanTanggalBerangkat}" type="date" name="pengajuantanggalberangkat" id="tanggalberangkat" class="form-control">
                               
                                
                            </div>
                        </td>
                        <!--<td>Tanggal Berangkat</td>
                        <td><input type="text" th:field="*{pengajuanTanggalBerangkat}" /></td>-->
                    </tr>
                     <tr>
                        <td>Tanggal Pulang</td>
                        <td>
                              <div class="form-group">
                                <label for="tanggalpulang">Tanggal Pulang</label>
                                <input th:value="*{pengajuanTanggalPulang}" type="date" name="pengajuantanggalpulang" id="tanggalpulang" class="form-control">   
                            </div>
                        </td>
                        <!--<td>Tanggal Pulang</td>
                        <td><input type="text" th:field="*{pengajuanTanggalPulang}" /></td>-->
                    </tr>

                    <tr>
                        <td>Hotel</td>
                        <td><input type="text" th:value="*{pengajuanHotel}" name="pengajuanhotel"/></td>
                    </tr>
                        <td colspan="2" th:insert="button :: button.create"></td>                    
                    </tr>
                    
                </table>
            </form>

    </div>


</body>

<script type="text/javascript">
    
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true
    });


    document.querySelector('#edit').addEventListener('submit', function(e) {
        var form = this;

        e.preventDefault();

        Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, create it!'
        }).then((result) => {
        if (result.isConfirmed) {
        form.submit();
        }
        })
        });

</script>


</html>