<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="resource :: sumber" >
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav th:insert="sidenav :: navadmin"></nav>
        <div id="wrapper">
            <ul th:replace="sidenav :: sidenavadmin"></ul>
            <div id="content-wrapper">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-primary o-hidden h-100">
                                <div class="card-body">
                                    <div class="mr-5" th:text="${totalkaryawan}"></div>
                                </div>
                                <div class="card-footer text-white clearfix small z-1">
                                    <!--<span class="float-left">Total Pengajuan</span>-->
                                    <h6>Jumlah Karyawan</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-success o-hidden h-100">
                                <div class="card-body">
                                    <div class="mr-5" th:text="${totalditerima}"></div>
                                </div>
                                <div class="card-footer text-white clearfix small z-1">
                                    <h6>Pengajuan yang diterima</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-warning o-hidden h-100">
                                <div class="card-body">
                                    <div class="mr-5" th:text="${telahdiproses}"></div>
                                </div>
                                <div class="card-footer text-white clearfix small z-1">
                                    <h6>Pengajuan yang sudah diproses</h6>

                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-danger o-hidden h-100">
                                <div class="card-body">
                                    <div class="mr-5" th:text="${rerata}"></div>
                                </div>
                                <div class="card-footer text-white clearfix small z-1">
                                    <h6>Rata-rata lama perjalanan dinas</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-4 col-sm-6 mb-3">
                            <div class="card">
                                <div class="card-header">Jumlah Karyawan</div>
                                <div class="card-body">
                                    <canvas id="jeniskelamin-chart" width="100%"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-8 col-sm-6 mb-3">
                            <div class="card">
                                <div class="card-header">Perjalanan</div>
                                <div class="card-body">
                                    <canvas id="perjalanan-chart" width="100%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--        <nav th:insert="sidenav :: navadmin"></nav>
                <div id="wrapper">
                    <ul th:insert="sidenav :: sidenavadmin"></ul>
                    <div id="content-wrapper">
        
                        <div class="container-fluid">
                        </div>
                    </div>
                </div>-->


    </body>

    <script>

        $.get("/jeniskelamin", function(jeniskelamin) {
        console.log(jeniskelamin)
        var jeniskelaminn = [];
        var jumlah = [];
        for (var i = 0; i < jeniskelamin.length; i++) {
        jeniskelaminn.push(jeniskelamin[i][0])
        jumlah.push(jeniskelamin[i][1])
        }

        var piechart = document.getElementById('jeniskelamin-chart');
        var chart = new Chart(piechart, {
        type: 'pie',
        data:{
        labels: jeniskelaminn,
        datasets:[{
        label : 'Jumlah Karyawan',
        data : jumlah,
        backgroundColor : ["#3366ff","#FF6384"],
        }]
        }

        });

        });



        $.get("/grafikperjalanan", function(perjalanan) {
        console.log(perjalanan)
        var periode = [];
        var perjalanann = [];
        for (var i = 0; i < perjalanan.length; i++) {
        periode.push(perjalanan[i][0])
        perjalanann.push(perjalanan[i][1])
        }

        var piechart = document.getElementById('perjalanan-chart');
        var chart = new Chart(piechart, {
        type: 'line',
        data:{
        labels: periode,
        datasets:[{
        label: 'Perjalanan',
        data: perjalanann,
        fill: false,
        lineTension: 0.1,
        backgroundColor: '#3333ff',
        borderColor: '#3333ff',
        pointHoverBackgroundColor: '#99ccff',
        pointHoverBorderColor: '#99ccff'
        }]
        }

        });

        });


    </script>

</html>
