<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="resource :: sumber" >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav th:insert="sidenav :: navuser"></nav>
        <div id="wrapper">
            <ul th:replace="sidenav :: sidenavuser"></ul>
            <div id="content-wrapper">

                <div class="container-fluid">

                    <!--                    <div align="center">
                                            <h3>Selamat Datang<h3>
                                                    <p></p>
                                                    <a href="/addpengajuan" th:insert="button :: button.create"></a>
                                                    </div>-->
                    
                                <div class="row">
                                    <div class="col-xl-3 col-sm-6 mb-3">
                                        <div class="card text-white bg-primary o-hidden h-100">
                                            <div class="card-body">
                                                <div class="mr-5" th:text="${totalpengajuan}"></div>
                                            </div>
                                            <div class="card-footer text-white clearfix small z-1">
                                                <!--<span class="float-left">Total Pengajuan</span>-->
                                                <h6>Total Pengajuan</h6>
                                            </div>
                                        </div>
                                    </div>
<!--                                    <div class="col-xl-3 col-sm-6 mb-3">
                                        <div class="card text-white bg-warning o-hidden h-100">
                                            <div class="card-body">
                                                <div class="mr-5" th:text="${totalmenunggu}"></div>
                                            </div>
                                            <div class="card-footer text-white clearfix small z-1">
                                                <h6>Pengajuan status menunggu</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6 mb-3">
                                        <div class="card text-white bg-success o-hidden h-100">
                                            <div class="card-body">
                                                <div class="mr-5" th:text="${totalditerima}"></div>
                                            </div>
                                            <div class="card-footer text-white clearfix small z-1">
                                                <h6>Pengajuan diterima</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6 mb-3">
                                        <div class="card text-white bg-danger o-hidden h-100">
                                            <div class="card-body">
                                                <div class="mr-5" th:text="${totalditolak}"></div>
                                            </div>
                                            <div class="card-footer text-white clearfix small z-1">
                                                <h6>Pengajuan ditolak</h6>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>

                                <div class="card mb-3">
                                    <div class="card-header">
                                        Pengajuan </div>
                                    <div class="card-body">
                                        <canvas id="chart-indexuser" width="100%" height="30"></canvas>
                                    </div>
                                </div>

                                </div>
                                </div>
                                </div>




                                </body>

                                <script >
                                    
                                    $.get("/totalpengajuanuser", function(totalpengajuanuser){
                                    	console.log(totalpengajuanuser)
                                    	var periode = [];
                                    	var pengajuan = [];
                                    	for (var i = 0; i < totalpengajuanuser.length; i++) {
                                    		periode.push(totalpengajuanuser[i][0])
                                    		pengajuan.push(totalpengajuanuser[i][1])
                                    	}

                                    
                                    
                                    var linechart = document.getElementById('chart-indexuser');
                                    var chart = new Chart(linechart, {
                                    type: 'line',
                                    data:{
                                    labels: periode,
                                    datasets: [
                                    {
                                    label: 'Pengajuan',
                                    data: pengajuan,
                                    fill: false,
                                    lineTension: 0.1,
                                    backgroundColor: '#3333ff',
                                    borderColor: '#3333ff',
                                    pointHoverBackgroundColor: '#99ccff',
                                    pointHoverBorderColor: '#99ccff'
                                    }

                                    ]
                                    }
                                    });
                                });

                                </script>

                                </html>
