<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="resource :: sumber" >
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<script type="text/javascript" th:src="@{/Chart.min.js}"></script>-->
    </head>
    <body>

        <nav th:insert="sidenav :: navmanajer"></nav>
        <div id="wrapper">
            <ul th:replace="sidenav :: sidenavmanajer"></ul>
            <div id="content-wrapper">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-primary o-hidden h-100">
                                <div class="card-body">
                                    <div class="mr-5" th:text="${totalpengajuan}"></div>
                                </div>
                                <div class="card-footer text-white clearfix small z-1">
                                    <!--<span class="float-left">Total Pengajuan</span>-->
                                    <h6>Total Pengajuan</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-warning o-hidden h-100">
                                <div class="card-body">
                                    <div class="mr-5" th:text="${totalmenunggu}"></div>
                                </div>
                                <div class="card-footer text-white clearfix small z-1">
                                    <h6>Pengajuan status menunggu</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-success o-hidden h-100">
                                <div class="card-body">
                                    <div class="mr-5" th:text="${totalditerima}"></div>
                                </div>
                                <div class="card-footer text-white clearfix small z-1">
                                    <h6>Pengajuan diterima</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-danger o-hidden h-100">
                                <div class="card-body">
                                    <div class="mr-5" th:text="${totalditolak}"></div>
                                </div>
                                <div class="card-footer text-white clearfix small z-1">
                                    <h6>Pengajuan ditolak</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Area Chart Example-->
                    <div class="card mb-3">
                        <div class="card-header">
                            Pengajuan Ijin Perjalanan Dinas</div>
                        <div class="card-body">
                            <!--<div id="chart-indexmanajer" width="100%" height="30"></div>-->
                            <canvas id="chart-indexmanajer"></canvas>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </body>

    <script>
        
        $.get("/totalpengajuan", function(totalpengajuan) {
        console.log(totalpengajuan)
        var periode = [];
        var pengajuan = [];
        for(var i=0; i<totalpengajuan.length; i++) {
        periode.push(totalpengajuan[i][0])
        pengajuan.push(totalpengajuan[i][1])
        }

        
        var barchart = document.getElementById('chart-indexmanajer');
        var chart = new Chart(barchart, {
        type: 'bar',
        data:{
        labels: periode,
        datasets:[{
        label : 'Jumlah Pengajuan',
        data : pengajuan,
        backgroundColor : "#3366ff"
        }]
        }

        });

        });
        
        
        


    </script>
    <!--    <script th:inline="javascript">
    
    var linechart = document.getElementById('chart-indexmanajer');
        var chart = new Chart(linechart, {
        type: 'line',
        data:{
        labels: periode,
        datasets: [
        {
        label: 'Data Pengajuan',
        data: pengajuan,
        fill: false,
        lineTension: 0.1,
        backgroundColor: '#3333ff',
        borderColor: '#3333ff',
        pointHoverBackgroundColor: '#99ccff',
        pointHoverBorderColor: '#99ccff'
        } 
        ]
        }
        });
    
    
    
    var periode = [[${
                    bulanpengajuan
                }
                ]];
                var pengajuan = [[${jumlahpengajuan}
                ]];
                var year = new Date();
                year = year.getFullYear();
                console.log(year);
    
    
                document.addEventListener('DOMContentLoaded', function () {
                    const chart = Highcharts.chart('chart-indexmanajer', {
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: 'Pengajuan'
                        },
                        xAxis: {
                            categories: periode
                        },
                        yAxis: {
                            title: {
                                text: ''
                            },
                            labels: {
    
                                enabled: false
                            }
                        },
                        series: [
                            {
                                name: 'Tahun ' + year,
                                data: pengajuan
                            }
                        ]
                    });
                });
            </script>-->
    <!--    <script th:inline="text/javascript">
    
            var linechart = document.getElementById('chart-indexmanajer');
            var chart = new Chart(linechart, {
            type: 'line',
            data:{
            labels: Object.listpengajuan.pengajuan.pengajuanTanggalBerangkat,
            datasets: [
            {
            label: 'Pengajuan',
            data: ,
            fill: false,
            lineTension: 0.1,
            backgroundColor: '#3333ff',
            borderColor: '#3333ff',
            pointHoverBackgroundColor: '#99ccff',
            pointHoverBorderColor: '#99ccff'
            }
    
            ]
            }
            });
    
        </script>-->

</html>
