<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="resource :: sumber">
</head>
<body>

    <nav th:insert="sidenav :: navadmin"></nav>
    
    <div align="center">
        <br/>
        <h1>List Pengajuan</h1>
        <br/>

        <div class="col-md-8">
            <!--<div align="left">
                <a href="/addperjalanan" th:insert="button :: button.create"></a>
            </div>-->
            <br/>
            <table class="table table-hover table-bordered">
                <thead class='thead-light'>
                    <tr>
                        <th>No</th>
                        <!--<th>Perjalanan ID</th>-->
                        <th>Nama Karyawan</th>
                        <th>Tujuan Perjalan Dinas</th>
                        <th>Jenis Kendaraan</th>
                        <th>Kota Asal</th>
                        <th>Kota Tujuan</th>
                        <th>Waktu Berangkat</th>
                        <th>Waktu Pulang</th>
                        <th>Tanggal Berangkat</th>
                        <th>Tanggal Pulang</th>
                        <!--<th>Total Diem</th>-->
                        <th>Hotel</th>
                        <!--<th>Status</th>-->
                        <th>Aksi</th>  
                    </tr>
                </thead>
                <tbody> 

                    <tr th:each="pengajuan, iterStat : ${listpengajuan}">
                        <td th:text="${iterStat.count}">No</td>
                        <!--<td th:text="${pengajuan.pengajuanId}">Pengajuan ID</td>-->
                        <td th:text="${pengajuan.karyawanId.karyawanNama}">Nama Karyawan</td>
                        <td th:text="${pengajuan.tujuandinasId.tujuandinasNama}">Tujuan Perjalan Dinas</td>
                        <td th:text="${pengajuan.kendaraanId.KendaraanNama}">Jenis Kendaraan</td>
                        <td th:text="${pengajuan.pengajuanKotaAsal}">Kota Asal</td>
                        <td th:text="${pengajuan.pengajuanKotaTujuan}">Kota Tujuan</td>
                        <td th:text="${pengajuan.pengajuanWaktuBerangkat}">Waktu Berangkat</td>
                        <td th:text="${pengajuan.pengajuanWaktuPulang}">Waktu Pulang</td>
                        <td th:text="${#dates.format(pengajuan.pengajuanTanggalBerangkat, 'dd MMMM yyyy')}">Tanggal Berangkat</td>
                        <td th:text="${#dates.format(pengajuan.pengajuanTanggalPulang, 'dd MMMM yyyy')}">Tanggal Pulang</td>
                        <td th:text="${pengajuan.pengajuanHotel}">Hotel</td>
                        <!--<td th:text="${pengajuan.approvalId.approvalNama}">Status</td>-->
                        <td>
                            <a th:href="@{'/tambahperjalanan/' + ${pengajuan.pengajuanId}}" class="btn btn-success btn-sm" role="button">Buat</a>
                            <!--<a th:href="@{'/editpengajuan/' + ${pengajuan.pengajuanId}}" class="btn btn-warning btn-sm" role="button">Edit</a>
                            <a th:href="@{'/deletepengajuan/' + ${pengajuan.pengajuanId}}" th:data-id='${pengajuan.pengajuanId}' class="delete btn btn-danger btn-sm" role="button">Delete</a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


</body>

<script type="text/javascript">

    $('.delete').click(function(e) {
    e.preventDefault();
        var id = $(this).attr(`data-id`);
        console.log(id);
        deletedata(id);
    });
    
    function deletedata(id) {
        
        Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
          'Deleted!',
          'Your file has been deleted.',
          'success'
          ),window.location = "/deleteperjalanan/" + id;
          }
      })
    }
    
</script>



</html>