<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div th:insert="resource :: sumber"></div>
    <link th:rel="stylesheet" type="text/css" th:href="@{stylelogin.css}"/>

</head>
<body>
    <div class="login-form">
        <h2>LOGIN</h2>
        <form  th:action="@{/dologin}" method="POST">

            <div class="input-group">
                <input type="text" class="form-control" required="required" placeholder="Nama Lengkap" name="username"/>
            </div>

            <div class="input-group">
                <input type="password" class="form-control" required="required" placeholder="Password" name="password"/>
            </div>

            <input type="submit" id="masuk" value="Log In" name="submit" />
        </form>
    </div>

</body>
</html>
