<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="resource :: sumber">
    </head>
    <body>

        <nav th:insert="sidenav :: navadmin"></nav>

        <div align="center">
            <h1>Create New Perjalanan</h1>
            <br />

            <form th:action="@{/saveperjalanan}" th:object="${perjalanan}" method="POST" id="">
                <table border="0" cellpadding="10">
                    <!--<input type="hidden" th:field="${perjalanan.pengajuanId}"/>-->
                    <!--<tr>
                        <td>Tujuan Perjalanan Dinas</td>
                        <td><input type="text" th:field="${perjalanan.pengajuanId.tujuandinasNama}"  readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td>Jenis Kendaraan</td>
                        <td><input type="text" th:field="*{kendaraanId.kendaraanNama}" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td>Kota Asal</td>
                        <td><input type="text" th:field="*{pengajuanKotaAsal}" readonly="readonly"/></td>
                    </tr>-->


                    <input type="hidden" th:field="${perjalanan.pengajuanId}"/>
                    <tr>
                        <td>Tujuan Perjalanan Dinas</td>
                        <td><input type="text" th:field="*{perjalananTujuanDinas}"  readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td>Jenis Kendaraan</td>
                        <td><input type="text" th:field="*{perjalananKendaraan}" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td>Kota Asal</td>
                        <td><input type="text" th:field="*{perjalananKotaAsal}" readonly="readonly"/></td>
                    </tr>

                    <tr>
                        <td>Kota Tujuan</td>
                        <td><input type="text" th:field="*{perjalananKotaTujuan}" readonly="readonly"/></td>
                    </tr>
                    <tr>


                        <td>Waktu Berangkat</td>
                        <td>
                            <div class="input-group date" id="event_time">
                                <input type="text" id="time" th:field="*{perjalananWaktuBerangkat}" placeholder="Time" class="form-control" />
                                <div class="input-group-addon input-group-append">
                                    <div class="input-group-text">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <!--<td><input type="text" th:field="*{pengajuanWaktuBerangkat}" /></td>-->
                    </tr>
                    <tr>
                        <td>Waktu Pulang</td>
                        <td>
                            <div class="input-group date" id="event_time">
                                <input type="text" id="time" th:field="*{perjalananWaktuPulang}" placeholder="Time" class="form-control" />
                                <div class="input-group-addon input-group-append">
                                    <div class="input-group-text">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <!--<td>
                            <input class="form-control timepicker" type="text" />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                            </div>
                        </td>
                        <td><input type="text" th:field="*{perjalananWaktuPulang"  /></td>-->
                    </tr>
                    <tr>
                        <td>Tanggal Berangkat</td>
                        <td><input type="text" th:field="*{perjalananTanggalBerangkat}" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td>Tanggal Pulang</td>
                        <td><input type="text" th:field="*{perjalananTanggalPulang}"  /></td>
                    </tr>
                    <tr>
                        <td>Hotel</td>
                        <td><input type="text" th:field="*{perjalananHotel}" readonly="readonly" /></td>
                    </tr>
                    <tr>
                        <td>Total Diem</td>
                        <td><input type="number" maxlength="15" min="1" th:field="*{perjalananTotalDiem}"  /></td>
                    </tr>
                    <td colspan="2" th:insert="button :: button.create"></td>                    
                    </tr>

                </table>
            </form>

        </div>

    </body>

    <script type="text/javascript">
        
        $("#tanggalpulang").change(function () {
        var tanggalberangkat = document.getElementById("tanggalberangkat").value;
        var tanggalpulang = document.getElementById("tanggalpulang").value;

        if (Date.parse(tanggalpulang) <= Date.parse(tanggalberangkat)) {
        alert("Tanggal Berangkat tidak boleh kurang dari Tanggal Pulang");
        document.getElementById("tanggalpulang").value = "";
        }
        });
        
        
        $('#event_time').datetimepicker({
        /*"allowInputToggle": true,
        "showClose": true,
        "showClear": true,
        "showTodayButton": true,*//
        "format": "HH:mm:ss"
        });




    </script>

</html>


<!--th:field="*{pengajuanTotalDiem}"-->