<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="sumber">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
            <link th:rel="stylesheet" th:href="@{/all.css}"/>
        <link th:rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}"/>
        <link th:rel="stylesheet" type="text/css" th:href="@{/bootstrap.css}"/>
        <link th:rel="stylesheet" type="text/css" th:href="@{/bootstrap-datepicker.css}"/>
        <link th:rel="stylesheet" type="text/css" th:href="@{/bootstrap-datepicker.min.css}"/>
        <link th:rel="stylesheet" type="text/css" th:href="@{/bootstrap-datepicker.standalone.css}"/>
        <link th:rel="stylesheet" type="text/css" th:href="@{/bootstrap-datetimepicker.css}"/>
        <link th:rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
        <link th:rel="stylesheet" type="text/css" th:href="@{/fontawesome.css}"/>
        
        <script th:src="@{/sweetalert2.all.min.js}"></script>
        <script th:src="@{/jquery.min.js}"></script>
        <script th:src="@{/Chart.min.js}"></script>
        <script th:src="@{/bootstrap.js}"></script>
<!--        <script th:src="@{/moment.min.js}"></script>
        <script th:src="@{/tempusdominus-bootstrap-4.min.js}"></script>-->
        <script th:src="@{/bootstrap-datepicker.min.js}"></script>
        <script th:src="@{/bootstrap-datepicker.js}"></script>
        <script th:src="@{/bootstrap-timepicker.js}"></script>
        <script th:src="@{/moment.min.js}"></script>
        <script th:src="@{/bootstrap-datetimepicker.js}"></script>
        
        <script th:src="@{/popper.min.js}"></script>
        
        
    </head>
    <body>
    </body>
</html>
