<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="resource :: sumber">
    <body>

        <nav th:insert="sidenav :: navadmin"></nav>
        <div id="wrapper">
            <ul th:replace="sidenav :: sidenavadmin"></ul>
            <div id="content-wrapper">

                <div class="container-fluid">

                    <!-- DataTables Example -->
                    <div class="card mb-3">
                        <div class="card-header">
                            Tujuan Dinas</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <div align="left">
                                        <a data-toggle="modal" data-target="#modalcreate" th:insert = "button :: button.create"></a>
                                    </div>
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <!--<th>Dinas ID</th>-->
                                            <th>Nama Tujuan Dinas</th>
                                            <th>Diem</th>
                                            <th>Keterangan</th>
                                            <th>Aksi</th>  
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="tujuandinas, iterStat : ${listtujuandinas}">
                                            <td th:text="${iterStat.count}">No</td>
                                            <!--<td th:text="${tujuandinas.tujuandinasId}">Dinas ID</td>-->
                                            <td th:text="${tujuandinas.tujuandinasNama}">Nama Tujuan Dinas</td>
                                            <td th:text="${tujuandinas.tujuandinasDiem}">Diem</td>
                                            <td th:text="${tujuandinas.tujuandinasKeterangan}">Keterangan</td>
                                            <td>
                                                <a th:href="@{/edittujuandinas/(tujuandinas_id=${tujuandinas.tujuandinasId})}" class="edit btn btn-warning btn-sm">Edit</a>
                                                <!--<a href="#modaledit" class="edit" data-toggle="modal" >Edit</a>-->
                                                <!--<a th:href="@{'/edittujuandinas/' + ${tujuandinas.tujuandinasId}}" class="btn btn-warning btn-sm" role="button">Edit</a>-->
                                                <a th:href="@{'/deletetujuandinas/' + ${tujuandinas.tujuandinasId}}" class="delete btn btn-danger btn-sm" th:data-id='${tujuandinas.tujuandinasId}' role="button">Delete</a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--Modal Create-->
        <div class="myForm">
            <!--Modal-->
            <div id="modalcreate" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!--konten Modal-->
                    <div class="modal-content">

                        <!--Modal heading-->
                        <div class="modal-header">


                            <h5 class="modal-title">Create New Tujuan Dinas</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                        </div>

                        <!--modal body-->
                        <div class="modal-body">


                            <form th:action="@{/addtujuandinas}" th:object="${tujuandinas}" method="POST" id="add">
                                <!--<input type="hidden" id="id" name="id" value="" th:field="*{tujuandinasId}">-->

                                <div class="form-group">
                                    Nama Tujuan Dinas
                                    <input th:field="*{tujuandinasNama}" required="required" maxlength="50" type="text" class="form-control" id="nama1" onkeyup="validasi();">
                                </div>

                                <div class="form-group">
                                    Diem
                                    <input th:field="*{tujuandinasDiem}" required="required" maxlength="20" min="1" type="number" class="form-control">
                                </div>

                                <div class="form-group">
                                    Keterangan
                                    <textarea th:field="*{tujuandinasKeterangan}" required="required" maxlength="100" class="form-control" id="keterangan2" onkeyup="validasi();"></textarea>
                                </div>

                        </div>

                        <div class="modal-footer">
                            <!--<button href="/addkendaraan"  type="submit" class="btn btn-primary">Create</button>-->
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                        </form>

                    </div>    
                </div>
            </div>
        </div>



        <!--Modal Edit-->
        <div class="myForm">
            <!--Modal-->
            <div id="modaledit" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!--konten Modal-->
                    <div class="modal-content">

                        <!--Modal heading-->
                        <div class="modal-header">


                            <h5 class="modal-title">Edit Tujuan Dinas</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                        </div>

                        <!--modal body-->
                        <div class="modal-body">


                            <form th:action="@{/savetujuandinas}" method="post" id="edit">
                                <input type="hidden" id="id" name="tujuandinasId" readonly="readonly">

                                <div class="form-group">
                                    Nama Tujuan Dinas
                                    <input name="tujuandinasNama" maxlength="50" id="nama" type="text" required="required" class="nama form-control" onkeyup="validasi();">
                                </div>

                                <div class="form-group">
                                    Diem
                                    <input name="tujuandinasDiem" id="diem" type="number" maxlength="20" min="1" required="required" class="form-control">
                                </div>

                                <div class="form-group">
                                    Keterangan
                                    <textarea class="keterangan form-control" maxlength="100" name="tujuandinasKeterangan" id="keterangan" required="required" onkeyup="validasi();"></textarea>
                                </div>

                        </div>

                        <div class="modal-footer">
                            <!--<button href="/addkendaraan"  type="submit" class="btn btn-primary">Create</button>-->
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                        </form>

                    </div>    
                </div>
            </div>
        </div>



    </body>

    <script type="text/javascript">

        function validasi() {
            var element1 = document.getElementById('nama1');
            var element2 = document.getElementById('keterangan2');
            var element3 = document.getElementById('nama');
            var element4 = document.getElementById('keterangan');

            element1.value = element1.value.replace(/[^A-Za-z/,.""&() ]+/,'');
            element2.value = element2.value.replace(/[^A-Za-z/,.""&()\n ]+/,'');
            element3.value = element3.value.replace(/[^A-Za-z/,.""&() ]+/,'');
            element4.value = element4.value.replace(/[^A-Za-z/,.""&()\n ]+/,'');
        };

        


        $('document').ready(function() {
        $('.table .edit').on('click', function(event) {

        event.preventDefault();

        var href = $(this).attr('href');

        $.get(href, function(tujuandinas, status){
        $('#id').val(tujuandinas.tujuandinasId);
        $('#nama').val(tujuandinas.tujuandinasNama);
        $('#diem').val(tujuandinas.tujuandinasDiem);
        $('#keterangan').val(tujuandinas.tujuandinasKeterangan);
        });

        $('#modaledit').modal();

        });
        });


        document.querySelector('#add').addEventListener('submit', function(e) {
        var form = this;

        e.preventDefault();

        Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, create it!'
        }).then((result) => {
        if (result.isConfirmed) {
        form.submit();
        }
        })
        });



        document.querySelector('#edit').addEventListener('submit', function(e) {
        var form = this;

        e.preventDefault();

        Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, create it!'
        }).then((result) => {
        if (result.isConfirmed) {
        form.submit();
        }
        })
        });


        $('.delete').click(function(e) {
        e.preventDefault();
        var id = $(this).attr(`data-id`);
        console.log(id);
        deletedata(id);
        });


        function deletedata(id) {

        Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
        if (result.isConfirmed) {
        window.location = "/deletetujuandinas/" + id;
        }
        })
        }
    </script>

</html>